<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="mySectionGroup">
      <section name="alipay" type="Sunny.Lib.AlipayUnionPaySignConfigurationHandler, Sunny.Lib"/>
      <section name="unionpay" type="Sunny.Lib.AlipayUnionPaySignConfigurationHandler, Sunny.Lib"/>
      <section name="testcert" type="Sunny.Lib.TestCertConfigurationHandler, Sunny.Lib"/>
    </sectionGroup>
    <sectionGroup name="httpRequestConfigurationGroup">
    </sectionGroup>
  </configSections>
  <httpRequestConfigurationGroup>
  </httpRequestConfigurationGroup>
  <mySectionGroup>
    <alipay>
      <add key="PrivateKey" value="kh2i8hnd4euxubf80zp64vld4807i5b3"/>
    </alipay>
    <unionpay>
      <add key="PrivateKey" value="88888888"/>
    </unionpay>
    <testcert>
      <add key="SendSideCertPath" value="%CurrentDir%/SPK_PARTNER_TEST.pfx"/>
      <add key="SendSideCertPassword" value="12345678"/>
      <add key="RecieveSideCertPath" value="%CurrentDir%/SPK_PARTNER_SERVER.cer"/>
      <add key="RecieveSideCertPassword" value="12345678"/>
      <add key="SignAlgorithm" value="RSA"/>
      <add key="SignEncoding" value="UTF-8"/>
      <add key="AsymmetryAlgorithm" value="RSA"/>
      <add key="AsymmetryEncoding" value="UTF-8"/>
      <add key="SymmetryAlgorithm" value="DES"/>
      <add key="SymmetryEncoding" value="UTF-8"/>
      <add key="Key" value="gd723^@!"/>
      <add key="Iv" value="!@#$%^)*"/>
    </testcert>
  </mySectionGroup>
  <appSettings>
    <!--<add key="RootXml" value="root"/>-->
    <add key="WebRequestInfoXml" value="XML\WebRequestInfo.xml"/>
    <add key="SaveRemoteServerCertPath" value="OutPut\RemoteServerCerts"/>
    <add key="HttpRequestHistoryPath" value="XML\History"/>
    <add key ="HistoryTemplateFileName" value="HistoryTemplete.xml"/>
    <!--This char is used between multiple fieds, say search string 'sub.adjust.RequestUrl=subledger' -->
    <!--'sub' is the key been contains in CategoryName-->
    <!--'adjust' is the key been contains in ConfigureName-->
    <!--'subledger' is the key been contains in RequestUrl-->
    <add key ="SearchStringSplitChars" value="."/>
    <add key="SearchStringExamples" value="Multiple filters split with char, following take '.' as examples
1. First filter is fixed, 'CategoryName', just need value, 'CategoryName' is leave out
2. Second filter is fixed, 'ConfigurationName', just need value, 'ConfigurationName' is leave out
3. Other filter is undefined, need name and value, just like '&lt;FilterName&gt;=&lt;FilterValue&gt;'

Examples
1. subledge
2. subledger.comput
3. ..RequestMethod=Get
4. subledger.comp.RequestMethod=Get
5. ..ClientCertInfo/FindValue=347041dd76ed4ed57cb964bfed47d3bc1994e0b7
6. subledger.comp.RequestMethod=Get.ClientCertInfo/FindValue=347041dd76ed4ed57cb964bfed47d3bc1994e0b7"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
